#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s linear;
}

.chat__timestamp {
  border-radius: 15px;
  margin-top: 120px;
  font-size: 12px;
  background-color: #92a4b2;
  color: white;
  padding: 12px;
  margin-bottom: 20px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 10px;
  animation: rotate-center 0.5s linear;
}

.message-row__author {
  display: block;
  margin-bottom: 10px;
}

.message__bubble {
  background-color: white;
  padding: 7px 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time,
.message-row__author {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  border-radius: 10px;
  border-top-right-radius: 0px;
  background-color: var(--yellow);
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  box-sizing: border-box;
}

.reply i {
  opacity: 0.5;
}

.reply__column button i {
  opacity: 1;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  border: var(--border);
  transition: 0.5s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0;
  top: 15px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  top: 3px;
}

.reply__column button:active,
.reply__column button:focus {
  outline: black;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink {
  visibility: hidden;
}

.reply:focus-within input {
  width: 98vw;
  transform: translateX(-10%);
}

.message__info-mine {
  animation: slide-right 0.5s linear;
}

.message__info-yours {
  animation: slide-left 0.5s linear;
}
